/* Fuentes y colores */
:root {
    --colorLetras: cornsilk;
    --fondo-gradiente: linear-gradient(to right, #0DE5FF, #00000071, #C53AFF);
    --color-body: linear-gradient(90deg, #10151D 0%, #131F33 30%, #131F33 70%, #10151D 100%);
    --color-primario: #0DE5FF;
    --color-secundario: #131F33;
    --color-contraste: #C53AFF;
}

/* Global */
body {
    font-family: 'Markazi Text', serif;
    background: var(--color-body);
    color: var(--colorLetras);
    height: 100vh;
    margin: 0;
}

/* Encabezado */
.encabezado {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 5px;
    display: grid;
    gap: 10px;
    background: var(--fondo-gradiente);
    padding: 20px;
}

.img-izq,
.img-der {
    max-width: 150px;
    height: auto;
}

.tema {
    grid-column: 2 / 3;
    font-size: 2.5rem;
}

.rectangulo {
    grid-column: 1 / -1;
    height: 5px;
    background: var(--fondo-gradiente);
}

/* Botones */
.boton {
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--colorLetras);
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.boton:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px var(--color-contraste), 0 0 25px var(--color-primario);
}

/* Contenido principal */
.textoInfo {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    gap: 20px;
}

.tema-1 {
    font-size: 2rem;
}

/* Medias Queries */
@media (max-width: 1124px) {
    .encabezado {
        gap: 5px;
    }

    .tema {
        font-size: 2rem;
    }

    .boton {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .tema {
        font-size: 1.8rem;
    }
    .boton {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .tema {
        font-size: 1.5rem;
    }

    .boton {
        font-size: 0.9rem;
    }
}
