* {
    border : 0;
    padding: 0;
}

:root {
    --colorLetras: cornsilk;
    --fondo-gradiente: linear-gradient(to right, #0DE5FF, #00000071, #C53AFF);
}

/*estilado del cuerpo*/
.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

body {
    font-family: "Nabla", system-ui;
    height: 100vh;
    background: linear-gradient(90deg, #10151D 0%, #131F33 30%, #131F33 70%, #10151D 100%);
}

  
.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr) 25px;
}

/*|-> Header*/
header {
    grid-column: 1 / -1;
}

.encabezado {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 10px;
    grid-auto-flow: 
        "img-izq tema img-der"
        "rectangulo rectangulo rectangulo";
    gap: 25px;
    align-items: center;
    justify-items: center;
}

.encabezado:first-child {
    grid-column: 1 / 2;
}

.encabezado:nth-child(2) {
    grid-column: 2 / 3;
}

.encabezado:nth-child(3) {
    grid-column: 3 / 4;
}

.encabezado:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
}

.rectangulo {
    row-gap: 20px;
    border: none;
    background: var(--fondo-gradiente);
    width: 100%;
    height: 5px;
    grid-column: 1 / -1;
}

.img-der, .img-izq {
    position: relative;
    right: 10px;
}

.img-izq {
    height: 75px;
}

.a:hover {
    size: 100px;
}

.a:active {
    size: 50px;
}

.img-der {
    height: 75px;
}


/*|-> Main*/
main {
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: repeat(5, 1fr);
}

/*  |-> Info*/
.info {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(20%, 1fr) minmax(auto, 1fr) minmax(20%, 1fr);
    grid-template-rows: minmax(20%, auto) 1fr minmax(15%, auto);
    justify-items: center;
}

.tema-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.dato {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 5px solid;
    border-radius: 10px;
    border-image: linear-gradient(to right, #0DE5FF, #00000071, #C53AFF);
    align-items: center;
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 5px;
    overflow: hidden;
    z-index: 0;
}

.icon {
    margin-right: 15px;
    font-size: 1rem;
    grid-column: 1 / 2;
}

.mensaje {
    font-size: 1rem;
    grid-column: 2 / -1;
}

.inst {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}


/*  |-> Select*/
.select {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

/*  |-> Resultados*/
.resultados {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
}


/*|-> Footer*/
footer {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
}

/*Otros*/
h1 {
    color: var(--colorLetras);
    font-size: 2em;
}

h2 {
    color: var(--colorLetras);
    font-size: 2.5em;
}

h3 {
    color: var(--colorLetras);
    font-size: 1.5em;
}

p {
    color: var(--colorLetras);
    font-size: 1em;
}

/*Media queries*/
/*|-> Moviles*/
@media (max-width: 1000px) {
    .img-der, .img-izq {
        display: none;
    }
     
    .encabezado :nth-child(2) {
        grid-column: 1 / -1;
    }

    /*Otros*/
    h1 {
        color: var(--colorLetras);
        font-size: 1em;
    }
    
    h2 {
        color: var(--colorLetras);
        font-size: 1.75em;
    }
    
    h3 {
        color: var(--colorLetras);
        font-size: 0.75em;
    }
    
    p {
        color: var(--colorLetras);
        font-size: 0.5em;
    }
}



/*|-> Laptops*/
@media (max-width: 1124px) {

    .img-izq {
        height: 50px;
    }
    
    .img-der {
        height: 50px;
    }


    /*Otros*/
    h1 {
        color: var(--colorLetras);
        font-size: 1.5em;
    }
    
    h2 {
        color: var(--colorLetras);
        font-size: 1em;
    }
    
    h3 {
        color: var(--colorLetras);
        font-size: 0.5em;
    }
    
    p {
        color: var(--colorLetras);
        font-size: 0.7em;
    }
}