* {
    border : 0;
    padding: 0;
    font-family: 'Kodchasan';
}

:root {
    --colorLetras: cornsilk;
    --fondo-gradiente: linear-gradient(to right, #0DE5FF, #00000071, #C53AFF);
}

h1, h2, h3, h4, h5, h6{
    color: var(--colorLetras) !important;
}

p{
    color: #58a6ff !important;
}
.b-example-divider {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid rgba(0, 0, 0, 0);
    border-width: 1px 0;
}

.bg-custom-gradient {
    background: rgb(16,21,29);
    background: linear-gradient(180deg, rgba(16,21,29,1) 0%, rgba(19,31,51,1) 72%, rgba(19,31,51,1) 100%);
  }


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 10px; /* Espaciado entre label y select */
}

.img-invert{
    size: 50%;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.263));
}

/* Estilo de las cards */
.card-custom {
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
    box-shadow: 5px 5px 10px rgb(71, 3, 231), 0px 0px 20px rgba(23, 39, 216, 0.5); /* Sombra de caja y glow */
    border: 2px solid #034be7; /* Borde del color que quieres */
    border-radius: 15px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 22px;
    margin-right: 22px;
    padding-top: 20px;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out; /* Transición suave */
}

/* Agregar un efecto glow al pasar el cursor */
.card-custom:hover {
    box-shadow: 0px 0px 20px rgb(71, 3, 231), 0px 0px 40px rgba(23, 39, 216, 0.5); /* Glow más fuerte al pasar el mouse */
    border: 2px solid #034be7; /* Se mantiene el borde */
}


.text-secondary-custom {
    color: #8b949e;
}

.time-text {
    color: #58a6ff;
    font-weight: bold;
}

.badge-custom {
    color: #5890E0;
    border-image: #c1c40c;
    border: 3px solid transparent;
    font-weight: bold;
    font-size: 3rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 22px;
}

.info-examen{
    width: auto;
    padding-left: 22px;
    border-image: #408DFC;
}

.gpo {
    color: #408DFC !important;
}

.fecha{
    color: #AA53FF;
}

.cuadro-texto {
    background-image: #19963e;
}

#mensaje-borde{
    border: 3px solid transparent;
    border-image: var(--fondo-gradiente) 1;
    padding: 8px;
    border-radius: 8px;
    max-width: fit-content; /*arreglar*/
}

#calendar{
    min-height: 600;
    width: auto;
    margin: 10px !important;
}

.fc-day.has-exams {
    background-color: #ffcccc; /* Cambiar el color de fondo */
    cursor: pointer; /* Cambiar el cursor para indicar que es interactivo */
}

.fc-scrollgrid, .fc-scrollgrid-liquid, .fc-daygrid, .fc-dayGridMonth-view, .fc-view{
    border:none !important;
}

.fc-daygrid-day-events {
    display: none;
}

.fc-col-header-cell-cushion{
    text-transform: uppercase;
}

.fc-day:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fc-header-toolbar .fc-toolbar-title {
    font-size: 1rem !important;
    padding-left: 50px;
    padding-right: 50px
}

.fc-header-toolbar button {
    font-size: 0.9rem !important;
    background-color: #00000000;
    background-image: none;
}

/* Cambiar el fondo y los bordes de los días */
.fc-day {
    background-color: #f0f0f000 ; /* Cambia el color de fondo */
    border-color: #00000000 !important;
    
}

/* Cambiar el color de fondo del día actual */
.fc-day-today {
    background-color: #2b05b3 !important; /* Color de fondo del día actual */
    color: white; /* Color del texto (número del día) */
}

/* Estilo para el número de cada día (número en el recuadro) */
.fc-day-number {
    font-size: 1rem !important; /* Tamaño del número del día */
    font-weight: bold !important; /* Hacer que el número sea más visible */
    border-color: #00000000 !important;
}

/* Estilo para los días del fin de semana (domingo y sábado) */
.fc-day-sun, .fc-day-sat, .fc-day-mon, .fc-day-tue, .fc-day-wed, .fc-day-thu, .fc-day-fri {
    background-color: #e0e0e000; /* Un color distinto para fin de semana */
}

/* Cambiar el cursor cuando se pasa sobre un día */
.fc-day:hover {
    cursor: pointer; /* Cambiar el cursor a puntero */
}

/* Cambiar el fondo de los días que tienen eventos */
.fc-day.fc-event {
    background-color: #c43affb1 !important; /* Fondo verde claro cuando hay un evento */
}

/* Resaltar las celdas con eventos al pasar el cursor */
.fc-day.fc-event:hover {
    background-color: #C53AFF !important; /* Un verde más oscuro al pasar el cursor */
    box-shadow: 5px 5px 3px black;
}







/*estilado del cuerpo*/
body {

    height: 100vh;
    background: linear-gradient(90deg, #10151D 0%, #131F33 30%, #131F33 70%, #10151D 100%);
}

  
.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr) 25px;
}

/*|-> Header*/
header {
    grid-column: 1 / -1;
}

.encabezado {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 10px;
    grid-auto-flow: 
        "img-izq tema img-der"
        "rectangulo rectangulo rectangulo";
    gap: 25px;
    align-items: center;
    justify-items: center;
}

.encabezado:first-child {
    grid-column: 1 / 2;
}

.encabezado:nth-child(2) {
    grid-column: 2 / 3;
}

.encabezado:nth-child(3) {
    grid-column: 3 / 4;
}

.encabezado:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
}

#rectangulo {
    row-gap: 20px;
    border: none;
    background: var(--fondo-gradiente);
    width: 100%;
    height: 5px;
    grid-column: 1 / -1;
}

.img-der, .img-izq {
    position: relative;
    right: 10px;
}

.img-izq {
    height: 75px;
}

.boton {
    font-family: "Kodchasan", 'Markazi Text';
    font-weight: 400;
    font-size: 1.5em;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: #0DE5FF, #C53AFF;
    background-color: #00000000;
    color: var(--colorLetras);
    transform: 0.3s ease;
    box-shadow: 0.3s ease;
    cursor: pointer;

}

.boton::after {
    content: '';
    width: 100px;
    height: 400px;
    position: relative;
    top: auto;
    left: auto;
    background-color: #C53AFF;
    background-image: var(--fondo-gradiente);
    z-index: 5;
    transition: transform 0.5s ease;
}

.boton:hover {
    background-image: #00000000;
    transform: translate(0px, -6px);
    box-shadow: 
        5px 5px 25px 0  #C53AFF, 
        -5px 5px 25px 0 #0DE5FF;
}

.boton:hover::after {
    transform: rotate(270deg);
}

.img-der {
    height: 75px;
}


/*|-> Main*/
main {
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: repeat(5, 1fr);
}

/*  |-> Info*/
.info {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: minmax(20%, 1fr) minmax(auto, 1fr) minmax(20%, 1fr);
    grid-template-rows: minmax(20%, auto) 1fr minmax(15%, auto);
    justify-items: center;
}

.tema-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.dato {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 25px;
    border-image-source: var(--fondo-gradiente);
    border-image-slice: 1 1 1 1;
    border-image-width: 0.2rem;  
    align-items: center;
    display: grid;
    grid-template-columns: 15% 1fr;
    gap: 15px;
}


.icon {}

.mensaje {
    color: var(--colorLetras);
    font-size: 1.5rem;
    grid-column: 2 / -1;
}

.inst {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}


/*  |-> Select*/
#select {
    font-size: 1rem;
    /* grid-column: 1 / -1;
    grid-row: 2 / 3; */
    border-radius: 8px;
    background-color: #00000000;
    width: 300px;
    /* display: grid; */
    grid-template-columns: 10% 1fr 1fr 10%;
    justify-content: end;
}

#select :first-child {
    /* grid-column: 2 / 3; */
}

#select:last-child {
    /* grid-template-columns: 3 / 4; */
}

/* Estilo de los labels */
#select label {
    /* display: block; */
    font-size: 1.5rem;
    font-family: 'Markazi Text';
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--colorLetras);
}

/* Estilos de los select */
#select select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: none; /* Elimina los bordes predeterminados */
    border-bottom: 2px solid #0DE5FF;
    background-color: #1F2540;
    font-family: 'Markazi Text';
    font-size: 16px;
    color: var(--colorLetras);
    cursor: pointer;
    transition: border 0.3s ease;
}

/* Efecto al poner el cursor sobre el select */
#select select:hover {
    background-image: #00000000;
    transform: translate(0px, -6px);
    box-shadow: 
        5px 5px 25px 0  #C53AFF, 
        -5px 5px 25px 0 #0DE5FF;
}


#select select:focus {
    outline: none;
    border-color: #1102df;
}

#select select option {
    padding: 10px;
    font-size: 16px;
    background-color: #1F2540;
    color: var(--colorLetras);
}

#select select option:hover {
    background-color: #8c24b8;
    color: #C53AFF;
}



/* Estilo de los Input*/
/* Contenedor general */
#input-container {
    font-size: 1rem;
    border-radius: 8px;
    background-color: #00000000;
    width: 300px;
    grid-template-columns: 10% 1fr 1fr 10%;
    justify-content: end;
}

/* Estilo de los labels */
#input-container label {
    font-size: 1.5rem;
    font-family: 'Markazi Text';
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--colorLetras);
}

/* Estilos para los inputs */
#input-container input[type="text"],
#input-container input[type="number"],
#input-container input[type="email"],
#input-container input[type="password"],
#input-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: none; /* Elimina los bordes predeterminados */
    border-bottom: 2px solid #0DE5FF;
    background-color: #1F2540;
    font-family: 'Markazi Text';
    font-size: 16px;
    color: var(--colorLetras);
    cursor: pointer;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al poner el cursor sobre el input */
#input-container input:hover,
#input-container textarea:hover {
    background-image: #00000000;
    transform: translate(0px, -6px);
    box-shadow: 
        5px 5px 25px 0  #C53AFF, 
        -5px 5px 25px 0 #0DE5FF;
}

/* Estilo al enfocar el input */
#input-container input:focus,
#input-container textarea:focus {
    outline: none;
    border-color: #1102df;
}

/* Opcional: Estilo para textarea */
#input-container textarea {
    height: 100px; /* Altura fija */
    resize: none; /* Evita que sea redimensionable */
}







#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(180deg, #0E2344 0%, #10151D 100%);
    border-radius: 10px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.201);
    text-align: center;
}

/* Personalización de la cabecera del calendario */
.fc-header-toolbar {
    background-color: #00000000; /* Color de fondo */
    border-radius: 8px;
    padding: 10px 15px;
    color: var(--colorLetras); /* Color de texto en la cabecera */
    font-size: 16px;
}

/* Cambiar color de los botones de la cabecera */
.fc-button {
    background-color: #c03610; /* Color de los botones */
    color: rgb(30, 140, 76);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

/* Hover y cambio de color en los botones */
.fc-button:hover {
    background-color: #3f1ad6;
}

/* Personalizar los días de la semana */
.fc-day-header {
    font-weight: 400px;
    background-color: #00000000;
    color: var(--colorLetras);
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para los días del calendario */
.fc-daygrid-day {
    background-color: #00000000;
    border-radius: 5px;
}

/* Estilo para los eventos del calendario */
.fc-event {
    background-color: #19963e; /* Color de fondo para los eventos */
    color: rgb(243, 17, 17); /* Color del texto de los eventos */
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

/* Hover sobre los eventos */
.fc-event:hover {
    background-color: #FF5722;
}

/* Estilo para los eventos seleccionados */
.fc-event-selected {
    background-color: #FF9800;
    border: 2px solid #FF5722;
}

/* Personalización de la vista de días */
.fc-daygrid-day-number {
    font-size: 18px;
    font-weight: 400PX;
}

/* Estilo para el selector de fechas */
.fc-state-active {
    background-color: #c97642 !important;
    color: white;
}


/*  |-> Resultados*/
.resultados {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
}


/*|-> Footer*/
footer {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
}

/*Otros*/
h1 {
    color: var(--colorLetras);
    font-size: 2em;
}

h2 {
    color: var(--colorLetras);
    font-size: 2.5em;
}

h3 {
    color: var(--colorLetras);
    font-size: 1.5em;
}

p {
    color: var(--colorLetras);
    font-size: 1em;
}

/*Media queries*/
/*|-> Moviles*/
@media (max-width: 500px) {
    * {
        border : 0;
        padding: 0;
    }

    .img-izq {
        height: 0.5%;
        width: auto;
    }
    
    .img-der {
        height: 5px;
        width: auto;
    }

    .encabezado {
        display: grid;
        grid-template-columns: 10% 10%, 1fr;
        gap: 5px;
    }

    .encabezado:first {
        grid-column: 1 / 2;
    }

    .encabezado:nth-child(2) {
        grid-column: 2 / 3;
    }

    .info {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 20% 1fr 15%;

    }

    .info:first-child {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .info:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .info:last-child {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
        font-size: 2rem;
    }

    .dato{
        grid-template-columns: 30% 1fr;
        align-items: center;
        align-content: center;
    }

    .dato:first-child {
        grid-column: 1 / 2;
    }

    .dato:last-child {
        grid-column: 2 / 3;
    }
    
    .icon {
        height: 100px;
        padding-top: 30px;
    }

    .mensaje {
        font-size: 1rem;
    }

    .select {
        width: 100%;
    }

     /*Otros*/
     h1 {
        color: var(--colorLetras);
        font-size: 1.5em;
    }
    
    h2 {
        color: var(--colorLetras);
        font-size: 2em;
    }
    
    h3 {
        color: var(--colorLetras);
        font-size: 1em;
    }
    
    p {
        color: var(--colorLetras);
        font-size: 0.5em;
    }
}

@media (max-width: 1000px) {
    .img-izq {
        height: 10px;
    }
    
    .img-der {
        height: 10px;
    }
     
    .encabezado {
        display: grid;
        grid-template-columns: 20px 20px, 1fr;
        gap: 10px;
    }

    .encabezado:first {
        grid-column: 1 / 2;
    }

    .encabezado:nth-child(2) {
        grid-column: 2 / 3;
    }

    .info {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 20% 1fr 15%;

    }

    .info:first-child {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .info:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .info:last-child {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
        font-size: 2rem;
    }

    .dato{
        grid-template-columns: 30% 1fr;
        align-items: center;
        align-content: center;
    }

    .dato:first-child {
        grid-column: 1 / 2;
    }

    .dato:last-child {
        grid-column: 2 / 3;
    }
    
    .icon {
        height: 100px;
        padding-top: 0px;
    }

    .mensaje {
        font-size: 1rem;
    }
    
    /*Otros*/
    h1 {
        color: var(--colorLetras);
        font-size: 1em;
    }
    
    h2 {
        color: var(--colorLetras);
        font-size: 1.75em;
    }
    
    h3 {
        color: var(--colorLetras);
        font-size: 0.75em;
    }
    
    p {
        color: var(--colorLetras);
        font-size: 0.5em;
    }
}



/*|-> Laptops*/
@media (max-width: 1124px) {

    .img-izq {
        height: 50px;
    }
    
    .img-der {
        height: 50px;
    }


    /*Otros*/
    h1 {
        color: var(--colorLetras);
        font-size: 1.5em;
    }
    
    h2 {
        color: var(--colorLetras);
        font-size: 1em;
    }
    
    h3 {
        color: var(--colorLetras);
        font-size: 0.5em;
    }
    
    p {
        color: var(--colorLetras);
        font-size: 0.7em;
    }
}