* {
    border: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #131F33 0%, #10151D 100%);
    height: 100vh; 
    margin: 0; 
}

.header {
    width: 100%;
    padding: 20px 0; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.img-izq, .img-der {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-izq {
    left: 75px;
    width: 150px;
    height: auto;
}

.img-der {
    right: 75px;
    width: 150px;
    height: auto;
}

.main {
    height: 1000;
}

.footer {
    height: 100px;
    padding: 20px 0;
}

footer {
    display: flex;
    justify-content: center;
}

hr {
    height: 3.5px;
    border: none;
    background: linear-gradient(to right, #0DE5FF, #00000029, #C53AFF);
}


h1 {
    color: cornsilk;
    font-size: 2em;
}

h2 {
    color: cornsilk;
    font-size: 2.5em;
}

h3 {
    color: cornsilk;
    font-size: 1.5em;
}

p {
    color: cornsilk;
    font-size: 1em;
}




/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .img-izq, .img-der {
        width: 20%;
    }
    
    h1 {
        font-size: 1em;
    }
}

/* Para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .img-izq, .img-der {
        width: 10%;
    }
    
    h1 {
        font-size: 0.5em;
    }
}
